:root {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.6rem;
    
    background: #232741;
    color: #E1E1E6;
}

#particles-js {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    text-align: center;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(1rem);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;

    padding: 3rem;

    width: 30%;
    position: absolute;
}

.profile {
    margin-bottom: 2rem;
}

.profile img {
    width: 12.8rem;
    height: 12.8rem;

    border: 0.4rem solid #E1E1E6;
    border-radius: 50%;

    margin-bottom: 2rem;
}

.technologies {
    margin-bottom: 2rem;
}

.technologies img {
    margin-inline: .6rem;
    transition: transform 700ms;
}

.technologies img:hover {
    transform: scale(1.2);
    transition: transform 700ms;
}

.links a {
    text-decoration: none;

    background: rgb(41, 41, 46);
    color: #E1E1E6;

    padding: 1.4rem;
    margin-inline: .8rem;
    margin-bottom: 1rem;

    border-radius: .5rem;
    display: block;
}

.links a:hover {
    filter: brightness(1.2);
}