:root {
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;

    overflow: hidden;
}

button {
    border: none;
    cursor: pointer;
}

.container {
    height: 100vh;
    background: #6E3F96;

    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    width: 65rem;
    height: 40rem;

    display: flex;
    align-items: center;
    justify-content: space-around;
    
    padding: 5rem;
    border-radius: 2rem;

    position: relative;
    object-fit: contain;
}

.btn {
    width: 12rem;
    height: 12rem;

    margin: auto;

    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(1rem);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;

    transition: transform 700ms;
}

.btn:hover {
    transform: scale(1.2);
    transition: transform 700ms;
}

#background-wrap {
    width: 85rem;
    height: 60rem;
	position: absolute;
}

.bubble {
    position: absolute;

	border-radius: 50%;
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
}

.bubble.one {
    width: 30rem;
    height: 30rem;

    top: 0rem;
    left: 12rem;

    animation: animateBubble 4s ease-in-out infinite alternate;
}

.bubble.two {
    width: 25rem;
    height: 25rem;

    bottom: 5rem;
    right: 5rem;

    animation: animateBubble 4s ease-in-out infinite alternate;
}

.bubble.three {
    width: 20rem;
    height: 20rem;

    bottom: 5rem;
    left: 28rem;

    animation: animateBubble 3s ease-in-out infinite alternate;
}

.bubble.four {
    width: 15rem;
    height: 15rem;

    top: 12rem;
    right: 20rem;

    animation: animateBubble 2s ease-in-out infinite alternate;
}

.bubble.five {
    width: 10rem;
    height: 10rem;

    bottom: 15rem;
    left: 12rem;

    animation: animateBubble 2s ease-in-out infinite alternate;
}

@keyframes animateBubble { 
    0% { 
        transform: translate(0px, 0px);
    }
    100% { 
        transform: translate(50px, 50px);
    }
}