:root {
    font-size: 62.5%;
}
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background: #07252d;

    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

img {
    height: 4.2rem;
}

.container {
    border: 8px solid #00eeff;
    border-radius: 30px;
    
    padding: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: inset 0 0 3.2rem #00eeff, 0 0 3.2rem #00eeff;
    filter: blur(0);

    animation: neon 2s linear forwards;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
  
h1 {
    font-size: 4.2rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 5px;
    
    width: 100%;

    color: #00eeff;
    
    -webkit-box-reflect: below -22px linear-gradient(transparent, #0006);
    /* Direction value, offset value and mask value*/
    
    text-shadow: 0 0 10px #00eeff, 0 0 20px #00eeff, 0 0 40px #00eeff, 0 0 80px #00eeff, 0 0 160px #00eeff;
    filter: blur(0);
  
    animation: tubelight 2s linear forwards;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes tubelight {
    0%, 6%, 8%, 10%, 50%, 100% {
        filter: blur(2px);
        color: #00eeff;
        text-shadow: none;
    }
    5%, 7%, 9%, 20%, 99% {
        filter: blur(0);
        color: #fff;
        text-shadow: 0 0 10px #00eeff, 0 0 20px #00eeff, 0 0 40px #00eeff, 0 0 80px #00eeff, 0 0 160px #00eeff;
    }
}

@keyframes neon {
    0%, 6%, 8%, 10%, 50%, 100% {
        filter: blur(2px);
        color: #00eeff;
        box-shadow: none;
    }
    5%, 7%, 9%, 20%, 99% {
        filter: blur(0);
        color: #fff;
        box-shadow: inset 0 0 3.2rem #00eeff, 0 0 3.2rem #00eeff;
    }
}
  